
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    <title>Home</title>
  </head>
  <body id="myPage">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary " style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
            <li class="nav-item-right" style="margin-left: 950px;">
              <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item-right">
              <a class="nav-link active" aria-current="page" href="{{ url_for('booking') }}">Booking</a>
            </li>
            <li class="nav-item-right">
              <a class="nav-link active" aria-current="page" href="{{ url_for('contact') }}">Contact</a>
            </li>
            <li class="nav-item-right">
              <a class="nav-link active" aria-current="page" href="#">About us</a>
            </li>
            <li class="nav-item-right">
              <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
      </div>
    </nav>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/img/slide3.jpg" alt="..." height="600px" width="1500px">
          <div class="carousel-caption d-none d-md-block">
            <h5>Single BedRoom</h5>
            <p>This room has Single room facitity</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="static/img/doublebed.jpg"  alt="..." height="600px" width="1500px">
          <div class="carousel-caption d-none d-md-block">
            <h5>Double BedRoom</h5>
            <p>This room has Double room facitity</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="static/img/duplex.jpg" height="600px" width="1500px" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Duplex Room</h5>
            <p>A room has been separed in two floors connected with staircase.</p>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="service">
      <h1 align="center">Facitilies</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card ms-5 mt-4"  style="width: 25rem;">
            <img src="static/img/cafertia.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cafetria Room</h5> 
              <p class="card-text">A cafertia room is a dedicated space for eating meals (breakfast, lunch or dinner)other activities may also take place there outside of meal times</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ms-5 mt-4"  style="width: 25rem;">
            <img src="static/img/conferenceroom.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Conference Room</h5>
              <p class="card-text">A conference room is a dedicated space for events such as business conference calls and video conferencing for members to attend the meeting.<br></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ms-5 mt-4"  style="width: 25rem;">
            <img src="static/img/swimmingpool.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Swimming Pool</h5>
              <p class="card-text">Swimming pools are a source of fun, relaxation, and entertainment for guests and activities both adults and children can enjoy.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ms-5 mt-4"  style="width: 25rem;">
            <img src="static/img/playground.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PlayGround</h5>
              <p class="card-text">Children have the freedom to explore and develop their creativity in a secure and safe environment and express their feelings and build friendships.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ms-5 mt-4"  style="width: 25rem;">
            <img src="static/img/gym.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Physical Fitness(GYM)</h5>
              <p class="card-text">The Physical Fitness designated for exercise, fitness training, and physical wellness activities. Also included are toilets, office, and general storage. </p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <br><br><br>
      
  <div class="hotels">
    <h1 align="center">Our Hotels</h1>
    <h6 style="color: rgb(65, 118, 143);">You can find our hotels anywhere in the India:</h6>
  </div>

  <div class="w3-row-padding w3-padding-16 w3-text-white w3-large">
    <div class="w3-half w3-margin-bottom">
      <div class="w3-display-container">
        <img src="/static/img/hotel1.jpg" class="hotelhover" alt="Mysore,Karnataka, India" style="width:100%">
        <span class="w3-display-bottomleft w3-padding">Mysore,Karnataka, India</span>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="/static/img/hotel2.jpg" class="hotelhover" alt="Kolkata,India" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">Kolkata,India</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="/static/img/hotel3.jpg" class="hotelhover"  alt="Manali,Himachal Pradesh" style="width:90%">
            <span class="w3-display-bottomleft w3-padding">Manali,Himachal Pradesh</span>
          </div>
        </div>
      </div>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="/static/img/hotel4.jpg"  class="hotelhover" alt="Goa,India" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">Goa,India</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="/static/img/hotel6.jpg " class="hotelhover" alt="Jammu & Kashmir,India" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">Jammu & Kashmir,India</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-container w3-padding-32 w3-black w3-opacity w3-card w3-hover-opacity-off" style="margin:32px 0;">
    <h2>Get the best offers first!</h2>
    <p>Join our newsletter.</p>
    <label>E-mail</label>
    <input class="w3-input w3-border" type="text" placeholder="Your Email address">
    <button type="button" class="w3-button w3-red w3-margin-top">Subscribe</button>
  </div>
  <div class="about">
    <h1 align="center">About us</h1>
 
  <div class="w3-quarter ms-5">
    <img src="static/img/avatar.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
    <h3>Johnny Walker</h3>
    <p>CEO & Founder</p>
  </div>
  
  <div class="w3-quarter ms-5 ">
    <img src="/static/img/avatar1.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
    <h3>Rebecca Flex</h3>
    <p>Manager</p>
  </div>
  
  <div class="w3-quarter ms-5">
    <img src="/static/img/avatar5.jpg" alt="Boss" style="width:50%" class="w3-circle w3-hover-opacity">
    <h3>Jan Ringo</h3>
    <p>Founder II</p>
  </div> </div>
  <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
    <div class="w3-row">
      <div class="w3-col m5">
      <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
        <h3>Address</h3>
        <p>Swing by for a cup of coffee, or whatever.</p>
        <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Chicago, US</p>
        <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +00 1515151515</p>
        <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  test@test.com</p>
      </div>
      <div class="w3-col m7">
        <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
        <div class="w3-section">      
          <label>Name</label>
          <input class="w3-input" type="text" name="Name" required>
        </div>
        <div class="w3-section">      
          <label>Email</label>
          <input class="w3-input" type="text" name="Email" required>
        </div>
        <div class="w3-section">      
          <label>Message</label>
          <input class="w3-input" type="text" name="Message" required>
        </div>  
        <input class="w3-check" type="checkbox" checked name="Like">
        <label>I Like it!</label>
        <button type="submit" class="w3-button w3-right w3-theme">Send</button>
        </form>
      </div>
    </div>
  </div>
  <!--Footer-->
  <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
    <h4>Follow Us</h4>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
    <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Renuka Pawar</a></p>
  
    <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
      <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
      <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
      <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
  </footer>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
  <style>
    
  </style>
</html>
